body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#questions details,
#questions summary {
    margin: 0;
}

#questions details {
    border-radius: .5rem;
    background-image: linear-gradient(45deg, #0785f3, #570096);
    padding: 1rem;
    color: white;
    width: 30rem;
}

.answer {
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
}

.links a {
    text-decoration: none;
    border-radius: 3rem;
    background-color: #e0e0e0;
    padding: .25rem .5rem;
    margin: 0;
    color: rgb(75, 75, 75);
    font-weight: 300;
}

.links a+a {
    margin-left: .5rem;
}

.prompt {
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}