:root {
    --gradient: linear-gradient(45deg, #0785f3, #570096);
}

body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

main,
#intro,
#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#intro {
    gap: .5rem;
}

#intro,
#questions details {
    max-width: 30rem;
}

.prompt-container {
    position: relative;
}

.copy-prompt {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: .25rem;
}

.copy-prompt img {
    width: 1.25rem;
}

p,
#questions details,
#questions summary {
    margin: 0;
}

details>*+* {
    margin-top: 1rem;
}

#questions details {
    border-radius: .5rem;
    background-image: var(--gradient);
    padding: 1rem;
    color: white;
    align-self: stretch;
}

.answer {
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
}

.links a {
    text-decoration: none;
    border-radius: 3rem;
    background-color: #e0e0e0;
    padding: .25rem .5rem;
    margin: 0;
    color: rgb(75, 75, 75);
    font-weight: 300;
}

.links a+a {
    margin-left: .5rem;
}

#prompt {
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}

#jsonFilePicker {
    display: none;
}